body{
  background-color: #CCCCCC;
}
.page
{
  width:80%;
  margin:auto;
  font-size: 16px;
  font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
  padding: 40px;
  border: 5px solid #3388CC;
  border-radius: 10px;
  box-shadow: 2px 4px 3px black;
  background-color: #FFFFFF;
}
h1{
  font-size: 26px;
}
h2{
  font-size: 28px;
  color: #3388BB;
  text-transform: uppercase;
  border-bottom: 3px solid #3388BB;
}
.infophoto{
  height: 250px;
}
.addressinfo{
  float: left;
}
/*
.addressinfo:hover{
  animation-name:AnimAddress;
  animation-duration: 5s;
}
*/
.photo{
  float: right;
}
#photo-cv{
  height: 300px;
  border-radius:25px;
  box-shadow: 5px 10px 15px black;
}
#photo-cv:hover{
    animation-name: AnimPhoto;
    animation-duration: 4s;
}
.sec-global{
  margin-bottom: 70px;
  text-align: justify;
}
.sec-global:hover{
  color:#00AA00;
}
.sec-gauche{
  float: left;
  font-weight: bold;
  font-size: 20px;
}
.sec-droite{
  margin-left: 200px;
  margin-top: 37px;
}
.titre{
  font-weight: bold;
  font-size: 20px;
}
#forma-gauche p{
  margin-bottom: 37px;
}
#comp-gauche p{
  margin-bottom: 37px;
}
#exp-gauche p{
margin-bottom: 37px;
}

/*Animation de la photo */
@keyframes AnimPhoto {
  from{
    /*width: 100%;
    height: 100%;*/
    height: 300px;
    border-radius:25px;
    box-shadow: 5px 10px 15px black;
  }
  to{
    /*width: 200%;
    height: 200%;*/
    height: 600px;
    border-radius:50px;
    box-shadow: 20px 40px 60px black;
  }
}
/*
@keyframes AnimAddress {
  from{

  }
  to{
    background-color: beige;
  }
}
*/
